@import "reset";
@import "mixins";

.App {
  color: red;
}

html, body {
  @include size(100%, 100%);
  min-height: 100vh;
}

.wrapper {
  @include size(100%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
