@import "../styles/mixins";

.crystal {
  @include size(100vw, 100vh);
  @include flex();
  align-items: center;
  justify-content: center;

  &__figure {
    @include size(20vw, 20vw);
    transform: rotate(45deg);
    background-color: rebeccapurple;
    position: relative;
    top: -3vw;
    left: 5vw;
    z-index: 1;
    user-select: none;
    cursor: default;

    &_block {
      @include size(100%, 100%);
      overflow: hidden;

      &-content {
        @include size(100%, 100%);
        @include flex();
        align-items: center;
        justify-content: center;
        transform: rotate(-45deg);
        text-align: center;
        padding-top: 6vw;

        .content {
          @include size(40vw, 100%);
          font-size: 18vw;
          color: white;
          position: absolute;
          opacity: 0;

          &.show {
            opacity: 1;
          }
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          display: block;
          padding-top: 4vw;

          .content {
            @include size(40vw, 100%);
            font-size: 18vw;
            color: white;
            position: absolute;
            opacity: 0;
            @include size(40vw, 100%);
            transform: translate(-25%, 0);

            &.show {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__knife {
    @include size(30vw, 22vw);
    overflow: hidden;
  }

  &__background {
    @include size(100vw, 100vh);
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    transition: background .5s ease;
  }
}

.crystal__figure.active:hover {
  cursor: pointer;

  & + .crystal__background {
    background: darksalmon;
  }
}
